/* Global*/

img{
    width: 360px;
    height: 360px;
}


/* Header*/
header section{
    display: flex;
    justify-content: center;
    
    
}
header ul{
    margin-left: 80%;
    list-style: none;
    
}

/*Main*/
main{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(55, 100px);
}

#Kanken{
    grid-column: 4/5;
    grid-row:38/41;
    
}
#Swing{
    grid-column: 2/3;
    grid-row: 3/7;
}
#Hajo{
    grid-column: 3/5;
    grid-row: 3/7;
}
#Electric{
    grid-column: 5/6;
    grid-row: 8/11;
}
#Zed{
    grid-column: 5/6;
    grid-row: 3/7;
}
#Woodie{
    grid-column: 2/3;
    grid-row: 8/11;
}
#Logo{
    grid-column: 3/4;
    grid-row: 8/11;
}
#Dieter{
    grid-column: 4/5;
    grid-row: 8/11;
}
#Eye{
    grid-column: 2/3;
    grid-row: 13/15;
}
#Gather{
    grid-column: 5/6;
    grid-row: 13/15;
}
#Dipped{
    grid-column: 3/4;
    grid-row: 13/15;
}
#Sayl{
    grid-column: 2/3;
    grid-row: 18/20;
}
#Cherry{
    grid-column: 5/6;
    grid-row: 18/20;
}
#Japan{
    grid-column: 3/4;
    grid-row: 18/20;
}
#Arigato{
    grid-column: 4/5;
    grid-row: 13/15;
}
#Winston{
    grid-column: 4/5;
    grid-row: 18/20;
}
#Letter{
    grid-column: 2/3;
    grid-row: 23/25;
}
#Coffee{
    grid-column: 3/4;
    grid-row: 23/25;
}
#Beoplay{
    grid-column: 4/5;
    grid-row: 23/25;
}
#Burrill{
    grid-column: 2/3;
    grid-row: 28/30;
}
#Chair{
    grid-column: 5/6;
    grid-row: 23/25;
}
#Simplicity{
    grid-column: 4/5;
    grid-row: 28/30;
}
#Grid{
    grid-column: 3/4 ;
    grid-row: 28/30;
}
#Card{
    grid-column: 5/6;
    grid-row: 28/30;
}
#Classic{
    grid-column: 3/4;
    grid-row: 33/36;
}
#Magic{
    grid-column: 2/3;
    grid-row: 33/36;
}
#Travel{
    grid-column: 4/5;
    grid-row: 33/36;
}
#Keyboard{
    grid-column: 5/6;
    grid-row: 33/36;
}
#Bottle{
    grid-column: 4/5;
    grid-row:3/7;
}
#Geo{
    grid-column: 2/3;
    grid-row:38/41;
}
#Womb{
    grid-column: 5/6;
    grid-row:38/41;
}
#Water{
    grid-column: 3/4;
    grid-row:38/41;
}